version: "3.9"

services:
  postgres:
    image: postgres:16
    env_file:
      - ../.env
    restart: unless-stopped
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - internal
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${POSTGRES_USER}", "-d", "${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    restart: unless-stopped
    env_file:
      - ../.env
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    networks:
      - internal
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "PING"]
      interval: 3s
      timeout: 3s
      retries: 5
    ports:
      - "6379:6379"

volumes:
  pgdata:
    driver: local
# for persistence the volume should be outside the container. please change this according to your enviroment

networks:
  internal:
    name: vote_internal
    driver: bridge